.model-overlay {
  width: 500px;
  height: 300px;
  padding: 1em;
  background-color: cadetblue;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}
button {
  background-color: tomato;
  color: white;
  padding: 0.7em;
  font-weight: bold;
  margin: 2em;
}
