.show-btn,
.modal-close {
  background: rgb(243, 59, 59);
  color: white;
  border: none;
  padding: 6px;
  border-radius: 4px;
}

.modal {
  background-color: lightblue;
  margin: 20px 0;
  border: 2px solid grey;
  padding: 16px;
  width: 50%;
}
.modal p {
  font-size: large;
}
